<div class="card" *ngIf="geodata">
    {{geodata.name}} - {{geodata.country}} <br>
    Koordinaten: (lon) {{geodata.lon}}  (lat) {{geodata.lat}}  <br>
    Einwohnerzahl: {{geodata.population}} <br>
    Zeitzone: {{geodata.timezone}}
</div>
<div class="card" *ngIf="objectList">
  <div *ngFor="let object of objectList.features">
    <div *ngIf="object.properties.name != ''">
      <b>Name: {{object.properties.name}}</b><br>
      Bewertung: {{object.properties.rate}} <br>
      <div *ngIf="object.details">
        Details: {{object.details.info}} <br>
        {{object.details.wikipedia}} <br>
        <img src="{{object.details.image}}"><br>
      </div>
    </div>
  </div>
</div>
