<div class="card" *ngIf="currentData">

  <div class="card-header">
    {{currentData.name}} - {{currentData.weather[0].description}}
  </div>

  <div class="row ">

    <div class="col-md-1">
      <img src="{{extractIconUrl(currentData.weather[0].icon)}}" class="card-img" alt="...">
    </div>

    <div class="col-md-11">

      <div class="card-body">

        <div class="row">
          <div class="col-auto">
            {{currentData.main.temp}} C°
          </div>
          <div class="col-auto">
            gefühlt: {{currentData.main.feels_like}} C°
          </div>
          <div class="col-auto">
            Sonnenaufgang: {{convertTimestamp(currentData.sys.sunrise)}}
          </div>
          <div class="col-auto">
            Sonnenuntergang: {{convertTimestamp(currentData.sys.sunset)}}
          </div>

        </div>

      </div>

    </div>

  </div>

</div>

<div *ngIf="extractedForecastData">

  <accordion *ngFor="let data of extractedForecastData">

    <accordion-group heading="{{data.day.toLocaleDateString()}} - {{data.description}}">

      <div class="row">

        <div class="col-1">

          <img src="{{extractIconUrl(data.icon)}}" class="card-img" alt="...">

        </div>

        <div class="col-11">

          <div class="row">

            <div class="col-auto">
              Temperatur: {{data.temp}} C°
            </div>

          </div>

          <div class="row mt-1">

            <div class="col-auto">
              gefühlt: {{data.feelsLike}} C°
            </div>

          </div>

        </div>

      </div>

    </accordion-group>

  </accordion>

</div>
