<div class="container-fluid p-0">

    <!-- Navbar mit dem Inputfield-->
    <nav class="navbar navbar-expand-md navbar-light border-bottom box-shadow mb-3" style="background-color: #e3f2fd;">

      <!-- Container mit den Navbar Elementen-->
      <div class="container">
        <!-- Titel -->
        <a class="navbar-brand" href="#">E-Business-App</a>

        <!-- Versteckter Button für kleinen Viewport-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Elemente die bei kleinem Viewport versteckt werden in dem Dropdown-->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <!-- Platz für weitere Navbar elemente-->
          </ul>

          <form class="form-inline">

            <!-- Form Gruppe mit dem Suchfeld-->
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Stadt</span>
              </div>
              <input class="form-control" type="search" placeholder="Suche" aria-label="Search" (keydown.enter)="onEnterPressed($event)">
            </div>

          </form>
        </div>
      </div>
    </nav>

    <!-- Container für die 2 API Komponenten-->
    <div class="container">
      <app-fetch-weather [name]="searchValue"></app-fetch-weather>
      <app-open-trip-map [name]="searchValue"></app-open-trip-map>
    </div>

</div>



