<div class="container-fluid p-0">

    <nav class="navbar navbar-expand-md navbar-light border-bottom box-shadow mb-3" style="background-color: #e3f2fd;">
      <div class="container">
        <a class="navbar-brand" href="#">E-Business-App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">

            <!-- Platz für weitere Navbar elemente-->

          </ul>

          <form class="form-inline">

            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Stadt</span>
              </div>
              <input class="form-control" type="search" placeholder="Suche" aria-label="Search" (keydown.enter)="onEnterPressed($event)">
            </div>

          </form>

        </div>
      </div>

    </nav>

    <p>{{searchValue}}</p>

    <router-outlet></router-outlet>

</div>



